@model CityWeatherRequest


<!DOCTYPE
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>@ViewBag.pageTitle</title>
	<meta charset="utf-8" />
	<link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
	<h1>Weather</h1>
	<div class="box w-25">
		<div class="flex-borderless">

			<!-- Left side -->
			<div class="w-50">
				<h3>@Model.CityName</h3>
				<div class="text-dark-grey margin-top">
					@Model.DateAndTime.ToString("hh:mm tt")
				</div>
				<div class="margin-top">
				</div>
			</div>

			<!-- Right side -->
			<div class="w-50 border-left padding-left text-right">
				<h2>
					@Model.TemperatureFahrenheit
					<span class="text-grey">°F</span>
				</h2>
			</div>

		</div>
	</div>
	<div>
		<a href="/">Back to Home</a>
	</div>

</body>
</html>